.containerformlogin {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 50%;
  justify-content: right;
  /* background-color: rgb(25, 70, 109); */
}
.containerformlogin .formlogin {
  width: 47rem;
  padding: 6rem 2rem;
  margin-right: 7.7rem;
  box-shadow: 4rem 4.5rem 6.5rem 1.6rem rgba(0, 0, 0, 0.906);
  border: 0.1rem solid rgb(0, 0, 0);
  border-radius: 1rem 10rem;
  background-color: rgba(0, 0, 0, 0.5);
}
.containerformlogin .formlogin header {
  width: 100%;
  margin-block: 2rem;
}
.containerformlogin .formlogin header h1 {
  margin-bottom: 3.2rem;
  font-size: 4.5rem;
  font-weight: 900;
  text-align: center;
  line-height: 4.4rem;
  letter-spacing: 1rem;
}
.containerformlogin .formlogin header div {
  display: flex;
  align-items: center;
  justify-content: center;
  justify-content: left;
}
.containerformlogin .formlogin header p {
  margin-left: 1rem;
  display: inline-block;
  text-align: left;
  font-size: 1.8rem;
  line-height: 2rem;
}
.containerformlogin .formlogin .boxinput {
  width: 100%;
  margin-bottom: 1rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  text-align: left;
  font-size: 2rem;
}
.containerformlogin .formlogin input {
  width: 100%;
  height: 5rem;
  padding-left: 5rem;
  border: none;
  border-radius: 0.5rem;
  outline: 0;
  font-size: 1.8rem;
}
.containerformlogin .formlogin input:focus {
  border: 3px solid rgb(255, 200, 2);
}
.containerformlogin .formlogin input::-moz-placeholder {
  color: rgb(36, 36, 36);
  font-family: "Montserrat";
  font-weight: 700;
  font-size: 1.7rem;
  line-height: 2.5rem;
}
.containerformlogin .formlogin input:-ms-input-placeholder {
  color: rgb(36, 36, 36);
  font-family: "Montserrat";
  font-weight: 700;
  font-size: 1.7rem;
  line-height: 2.5rem;
}
.containerformlogin .formlogin input::placeholder {
  color: rgb(36, 36, 36);
  font-family: "Montserrat";
  font-weight: 700;
  font-size: 1.7rem;
  line-height: 2.5rem;
}
.containerformlogin .formlogin .boxinput input[type=email] {
  background-image: url(../../../../assets/mail.svg);
  background-repeat: no-repeat;
  background-position: left;
  background-position-x: 4%;
}
.containerformlogin .formlogin .boxinput input[type=password] {
  background-image: url(../../../../assets/lock.svg);
  background-repeat: no-repeat;
  background-position: left;
  background-position-x: 4%;
}
.containerformlogin .formlogin .checkbox {
  width: 100%;
  margin-top: 2.5rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.containerformlogin .formlogin .checkbox div {
  display: flex;
  align-items: center;
}
.containerformlogin .formlogin .checkbox input {
  width: 1.8rem;
  height: 1.8rem;
  margin-right: 0.5rem;
  cursor: pointer;
}
.containerformlogin .formlogin button {
  width: 100%;
  height: 5.5rem;
  margin-block: 2rem;
  border: none;
  border-radius: 0.5rem;
  cursor: pointer;
  font-size: 1.6rem;
  text-transform: uppercase;
  font-weight: 600;
  line-height: 1.8rem;
  color: rgb(0, 0, 0);
  background-color: #D9D9D9;
}
.containerformlogin .formlogin button:hover {
  color: rgb(255, 255, 255);
  filter: brightness(1.5);
  transition: 500ms;
  background-color: rgba(255, 253, 253, 0.264);
}
.containerformlogin .formlogin .links {
  color: rgb(255, 204, 0);
  font-weight: 900;
}
.containerformlogin .formlogin .links:hover {
  color: rgb(217, 215, 215);
  filter: brightness(1.5);
  transition: 500ms;
}
.containerformlogin .formlogin .notHaveCount {
  text-align: center;
}/*# sourceMappingURL=styles.module.css.map */