.form{
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 47rem;
  padding: 6rem 3rem;
  box-shadow: 4rem 4.5rem 6.5rem 1.6rem rgba(0, 0, 0, 0.906);   
  border: 0.1rem solid rgb(0, 0, 0);
  border-radius: 1rem 10rem;
  background-color: rgba(0, 0, 0, 0.50);
}
.form header{
  width: 100%;
  margin-block: 2rem;
  /* background-color: blueviolet; */
}
.form header h1{    
  margin-bottom: 3.2rem;
  font-size: 4.5rem;
  font-weight: 900;
  text-align: center;
  line-height: 4.4rem;
  letter-spacing: 1rem; 
}
.form header div{
  width: 100%;
  display: flex;
  justify-content: left;
  align-items: center;
  gap: 1rem;
  /* background-color: rgb(43, 55, 226); */
}
.form header div svg{
  font-size: 4.5rem;
  color: #E6B404;
}
.boxinput{     
  width: 100%;
  margin-bottom: 1rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  text-align: left;
  font-size: 2rem;
  /* background-color: blue; */
}
.form a{
  color: rgb(255, 204, 0);
  font-weight: 900;
}
.form a:hover{
  color: rgb(217, 215, 215);
  filter: brightness(1.5);
  transition: 500ms;
}
.notHaveCount{
  text-align: center;
}