.form{
  width: min(45rem, 100%);
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 7rem 3rem 5rem 3rem;
  box-shadow: 4rem 4.5rem 6.5rem 1.6rem rgba(0, 0, 0, 0.906);   
  border: 0.1rem solid rgb(0, 0, 0);
  border-radius: 1rem 10rem;
  background-color: rgba(0, 0, 0, 0.50);
}
.formlogin{
  width: 100%;
}

.form header{
  width: 100%;
  margin-block: 2rem;
  /* background-color: blueviolet; */
}
.form header h1{    
  margin-bottom: 3.2rem;
  font-size: 4.5rem;
  font-weight: 900;
  text-align: center;
  line-height: 4.4rem;
  letter-spacing: 1rem; 
}
.form header div{
  width: 100%;
  display: flex;
  justify-content: left;
  align-items: center;
  gap: 1rem;
  /* background-color: rgb(43, 55, 226); */
}
.form header div svg{
  font-size: 4.5rem;
  color: #E6B404;
}
.boxinput{     
  width: 100%;
  margin-bottom: 2rem;
  font-size: 2rem;
  /* background-color: blue; */
}
.boxinput label{
  display: block;
  margin-bottom: 1.5rem;
  font-weight: 700;
  font-size: 1.6rem;
  line-height: 1.7rem;
}

.icon_Input{
  width: 8rem;
  height: 5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 0.5rem 0rem 0rem 0.5rem;
  background-color: rgb(255, 255, 255);
}
.boxinput_container{
  display: flex;
  align-items: center;
  /* background-color: black; */
}
.boxinput_container svg{
  color: rgb(0, 0, 0);
}

.form a{
  color: rgb(255, 204, 0);
  font-weight: 900;
}
.form a:hover{
  color: rgb(217, 215, 215);
  filter: brightness(1.5);
  transition: 500ms;
}
.notHaveCount{
  text-align: center;
}