@mixin menuDisplay{
    display: flex;
    align-items: center;
    justify-content: center;
}

.navigation{
    @include menuDisplay();
    width: 100vw;
    height: var(--nav-height); 
    position: fixed;
    top: 0;
    z-index: 100;
    // background-color: blue; 

    .wrapper{
        @include menuDisplay();
        width: 100%;
        justify-content: space-between;
        padding-inline: 4rem;
        // background-color: rgb(255, 242, 0);

        .logo img{
            width: 20rem;
            height: 100%;
            max-width: 100%;
        }

        .navigationMenu{
            @include menuDisplay();
            width: 80%;
            height: 100%;
            justify-content: right;
            // background-color: black;

            ul{
                @include menuDisplay();
                width: 100%;
                height: 100%;
                margin-inline: 2rem;
                gap: 8rem;
                // background-color: burlywood;

                li{
                    @include menuDisplay();
                    width: 10rem;
                    height: 100%;
                    // background-color: chartreuse;

                    // &:hover{
                    //     transition: border 0.1s;
                    //     border-bottom: 0.3rem solid yellow;
                    // }
                    
                    a{
                        color: white;

                        &:hover{
                            font-size: 1.8rem;
                        }
                    }
                }
            }

            .menuButton{
                @include menuDisplay();
                color: white;
                width: 20rem;
                height: 5rem;
                text-align: center;
                border-radius: 2rem;
                background-color: #fffdfd43;

                &:hover{
                    color: black;
                    filter: brightness(0.8);
                    background-color: rgb(255, 255, 255);
                }
            }
        }/*navigationMenu*/
    }/*wrapper*/
}/*navigation*/