footer {
  width: 100%;
  flex-shrink: 0;
  background-color: rgba(0, 0, 0, 0.6);
}

footer .gradient {
  height: 8rem;
  background: linear-gradient(to bottom, rgb(38, 38, 38), rgb(18, 18, 18));
}

.flex{
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  max-width: 185rem;
  margin: 0 auto;
  padding-top: 7.2rem;
  padding-inline: 9rem;
  /* background-color: blue; */
}

footer .containerLogoAndMessage {
  /* background-color: blueviolet; */
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 8.5rem;
}
footer .containerLogoAndMessage .guinaRangerLogo img {
  /* background-color: aqua; */
  height: 6rem;
  max-width: 100%;
}
footer .containerLogoAndMessage .fraseLogo {
  text-align: center;
  font-style: italic;
  font-weight: 300;
  font-size: 2rem;
  line-height: 2.4rem;
}
footer .containerSocialLinks {
  text-align: center;
  margin-top: 20rem;
  padding-bottom: 5rem;
  padding-inline: 2rem;
}
footer .containerSocialLinks .redeSociaisText {
  font-weight: 800;
  font-size: 2rem;
  line-height: 2.4rem;
}
footer .containerSocialLinks ul {
  display: flex;
  align-items: center;
  justify-content: center;
  align-items: left;
  gap: 5rem;
  margin-block: 4rem;
}
footer .containerSocialLinks ul li a {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2.5rem;
  cursor: pointer;
}
footer .containerSocialLinks ul li:hover {
  transform: scale(1.5);
  color: rgb(255, 231, 17);
}
footer .containerSocialLinks .copyright {
  margin-top: 1rem;
  font-weight: 400;
  font-size: 1.4rem;
  line-height: 1.7rem;
  font-style: italic;
}
footer .containerListFooter {
  height: 12rem;
  padding: 1rem;
  text-align: center;
}
footer .containerListFooter .list {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 7rem;
}
footer .containerListFooter .list ul {
  display: flex;
  flex-direction: column;
  gap: 0.7rem;
}
footer .containerListFooter .list ul p {
  margin-bottom: 0.7rem;
  font-size: 1.8rem;
  font-weight: 600;
  line-height: 2.2rem;
}
footer .containerListFooter .list ul li {
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 1.7rem;
}


@media (max-width: 1600px){
  .containerListFooter{
    display: none;
    /* background-color: red; */
  }
  .flex{
    flex-direction: column;
    padding-top: 3rem;
  }
  footer .containerSocialLinks{
    padding-bottom: 3.5rem;
    margin-top: 5rem;
  }

  footer .containerLogoAndMessage .guinaRangerLogo img {
  /* background-color: aqua; */
  height: 4rem;
  }

  footer .containerLogoAndMessage .fraseLogo {
  font-size: 1.6rem;
}

  footer .containerSocialLinks {
  text-align: center;
  margin-top: 0rem;
  padding-inline: 2rem;
  }

  footer .containerSocialLinks ul {
    gap: 2rem;
  }
  
}

@media (max-width: 565px){
  footer .containerLogoAndMessage .guinaRangerLogo img {
  /* background-color: aqua; */
  height: 3rem;
  }
    .redeSociaisText{
    display: none;
  }

  .flex{
  padding-inline: 5rem;
  /* background-color: blue; */
  }

}